.tracking-page-header {
  padding-left: 1rem;
}

.tracking-page-div {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tracking-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.account-type {
  padding-left: 1rem;
}

.label-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem
}