.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.edit-table-header {
  display: flex;
  align-items:baseline;
  justify-content: space-between;
}

.edit-table {
  width: 95%;
  margin-left: 2.5%;
}

.date {
  font-weight: bold;
}

.savings {
  background-color: #76b6dd30;
}

.investments {
  background-color: #39B54A30;
}

.liabilities {
  background-color: #DE767630;
}

.totals {
  background-color: #76dec630;
  font-weight: bold;
}

.save-button {
  float: right;
  margin-bottom: 0.5rem;
}