.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 1.1rem;
  font-weight: bold;
}

.brand {
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Palatino Linotype', 'Times New Roman';
}

.brand:hover {
  /* color:#1677ff; */
  color: #478e80;
}

.menu {
  flex: 1;
  min-width: 0; 
  font-size: 1rem;
  font-weight: 600;
  margin-left: 20px;
}

.app-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.logout-button {
  /* J: can't seem to edit margin, did it in React
  margin-left: auto;
  display: flex;
  align-items: center; */
}


.auth-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  /* color: #043a5b ; */
}

.auth-buttons:hover {
  /* color:#1677ff; */
  color: #478e80;
}